.container {
    z-index: 1;
}

.img {
    width: 80%;
    padding: 40px 180px 40px 40px;
}

.bigText {
    margin-top: 0;
    margin-bottom: 0;
    font-size: xx-large;
    z-index: 3;
    position: absolute;
    top: 105px;
    right: 60px;
    color: white;
    font-family: ocr-b-std;
    font-size: 70px;
}

