.contentGrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail {
    height: 260px;
    width: 220px;
    z-index: 1;
}

.gridContainer {
    position: relative;
    padding: 30px;
}

#title {
    color: black;
    z-index: 2; 
    position: absolute;
    font-weight: bold;
}