.contentGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thumbnail {
    height: 260px;
    width: 220px;
    z-index: 1;
}

.gridContainer {
    position: relative;
    padding: 30px;
}

#title {
    z-index: 2; 
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0px 40px 0px 0px;
}