.contentGrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail {
    height: 260px;
    width: 220px;
    z-index: 1;
}

.gridContainer {
    position: relative;
    padding: 50px 2% 50px 2%;
}

#title {
    color: black;
    z-index: 2; 
    position: absolute;
    font-weight: bold;
}

.imageContainer {
    position: relative;
    padding: 50px 2% 30% 2%;
}

#text {
    color: black;
    z-index: 2;
    position: absolute;
}