.navbar-default {
  background-color: #074723;
}

.navbar-expand-md {
  background-color: #074723;
}

.navbar-light {
  background-color: #074723
}

.bg-light {
  background-color: #074723
}

.footer {
  height: 200px;
  background-color: #074723;
}

.footerContainer {
  padding: 30px;
  box-sizing: border-box;
  color: white;
  box-sizing: inherit;
}

#creditText {
  display: flex;
  font-size: 11px;
  padding-top: 60px;
  color: white;
  justify-content: center;
  align-items: flex-end;
}

#outsideLinks {
  margin-top: 20px;
  float: right;
}

#outsideLinks a {
  margin-left: 30px;
  padding: 6px 15px 6px 15px;
  color: white;
  text-decoration: none;
}

.footerStyling {
  /* CHANGE POSITION ABSOLUTE TO SOMETHING ELSE ONCE ALL PAGES HAVE ENOUGH CONTENT!! */
  /* FOR NOW: position: static if page has enough content */
  position: absolute;
  height: 250px;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}